body {
  background-color: #f7cf08;
}

h1 {
  color: #e60e0e;
  font-family: sans-serif;
  text-align: center;
}

h2 {
  color: #e60e0e;
  font-family: unset;
  text-align: center;
}

.container{
  align-content: center;
  

}
.home{
      
  align-items:center;
  width: 80px;
  height:80px;
         
}
