body {
  background-color: #f7cf08;
}

h1 {
  color: #e60e0e;
  font-family: sans-serif;
  text-align: center;
}

h3 {
  color: #e60e0e;
  font-family: unset;
  text-align: center;
  text-decoration: underline;
}

p {
  font-family: unset;
}

.palavraChave {
  font-weight: bold;
}